<%- include('partials/header', { title: 'Товар удалён' }) %>
<h2>Товар был удалён</h2>
<ul>
    <li>ID: <%= product.id %></li>
    <li>Название: <%= product.name %></li>
    <li>Цена: <%= product.price %></li>
    <li>Описание: <%= product.description %></li>
</ul>
<%- include('partials/footer') %>
